<div id="pageInfo" data-enhance="false">
  <header class="prototype-page-header">
    <h1 class="prototype-page-header-title">
      Customer Complete Screen
    </h1>
  </header>
  <div class="prototype-page-cotent">
  	<div class="prototype-grid prototype-customer-number-pref">
      <div class="prototype-grid-row">
        <div class="prototype-grid-col">
          <p>Pick your lucky number, </p>
        </div>        
      </div>
  		<div class="prototype-grid-row">
        <div class="prototype-grid-col prototype-grid-col-1 lucky-number" tabindex="0">
          01
        </div>
        <div class="prototype-grid-col prototype-grid-col-2 lucky-number" tabindex="0">
          02
        </div>
        <div class="prototype-grid-col prototype-grid-col-3 lucky-number" tabindex="0">
          03
        </div>
        <div class="prototype-grid-col prototype-grid-col-4 lucky-number" tabindex="0">
          04
        </div>
        <div class="prototype-grid-col prototype-grid-col-5 lucky-number" tabindex="0">
          05
        </div>
        <div class="prototype-grid-col prototype-grid-col-6 lucky-number" tabindex="0">
          06
        </div>
        <div class="prototype-grid-col prototype-grid-col-7 lucky-number" tabindex="0">
          07
        </div>
        <div class="prototype-grid-col prototype-grid-col-8 lucky-number" tabindex="0">
          08
        </div>
        <div class="prototype-grid-col prototype-grid-col-9 lucky-number" tabindex="0">
          09
        </div>
        <div class="prototype-grid-col prototype-grid-col-10 lucky-number" tabindex="0">
          10
        </div>
        <div class="prototype-grid-col prototype-grid-col-11 lucky-number" tabindex="0">
          11
        </div>
        <div class="prototype-grid-col prototype-grid-col-12 lucky-number" tabindex="0">
          12
        </div>
        
      </div>
  	</div>
  </div>
  <footer class="prototype-page-footer">
	<div class="prototype-page-footer-notes">
	  <p>
	    &copy; Prototype RWD Design by Webster; 2015
	  </p>
	</div>
	<ul class="prototype-page-footer-navigation">
	  <li>
	    <a href="#customerWelcome">Customer Welcome</a>
	  </li>
	  <li class="prototype-page-footer-link-separator">
	  	/
	  </li>
	  <li>
	  	<a href="#customerInstructions">Instructions</a>
	  </li>
    <li class="prototype-page-footer-link-separator">
      /
    </li>
	  <li>
	  	<a href="#customerComplete">Complete</a>
	  </li>
	</ul>
	<div class="prototype-page-footer-action-button">
    <button class="prototype-button" data-bind="click:goToStart">Fin</button>
  </div>
  </footer>
</div>
