<div id="pageInfo" data-enhance="false">
  <header class="prototype-page-header">
    <h1 class="prototype-page-header-title">
      Customer Welcome Screen
    </h1>
  </header>
  <div class="prototype-page-cotent">
  	<div class="prototype-msg">
  		<div class="prototype-msg-title">
  			Hello Webster,
  		</div>
  		<div class="prototype-msg-content">
  			Good to have you back with us. We are offering you the opportunity for a world tour in response to your aspirations!!
  		</div>
  	</div>
  	<div class="prototype-grid prototype-customer-tour-info">
      <div class="prototype-grid-row">
        <div class="prototype-grid-col">
          <p>
            Please your details of the tour below,
          </p>
        </div>
      </div>
  		<div class="prototype-grid-row">
        <div class="prototype-grid-col prototype-grid-col-1">
          Day 01
        </div>
        <div class="prototype-grid-col prototype-grid-col-2">
          Australia
        </div>
      </div>
      <div class="prototype-grid-row">
        <div class="prototype-grid-col prototype-grid-col-1">
          Day 02, Day 03
        </div>
        <div class="prototype-grid-col prototype-grid-col-2">
          New Zealand
          <br />
          Japan
          <br />
          Indonesia
        </div>
      </div>
      <div class="prototype-grid-row">
        <div class="prototype-grid-col prototype-grid-col-1">
        </div>
        <div class="prototype-grid-col prototype-grid-col-2">
        </div>
      </div>
  	</div>
  </div>
  <footer class="prototype-page-footer">
	<div class="prototype-page-footer-notes">
	  <p>
	    &copy; Prototype RWD Design by Webster; 2015
	  </p>
	</div>
	<ul class="prototype-page-footer-navigation">
	  <li>
	    <a href="#customerWelcome">Customer Welcome</a>
	  </li>
	  <li class="prototype-page-footer-link-separator">
	  	/
	  </li>
	  <li>
	  	<a href="#customerInstructions">Instructions</a>
	  </li>
	  <li class="prototype-page-footer-link-separator">
      /
    </li>
    <li>
	  	<a href="#customerComplete">Complete</a>
	  </li>	  
	</ul>
  <div class="prototype-page-footer-action-button">
    <button class="prototype-button" data-bind="click:goToEnd">Continue</button>
  </div>
  </footer>
</div>
